<div class="uk-container uk-animation-fade" id="main">
  <h1 id="title">Mt. Sutro Music Company</h1>

  <div id="nav">
    <a href="/home" class="nav-links">AFFILIATES</a>
    <a href="#" class="nav-links" uk-tooltip="Stay tuned for updates!">BOOKING</a>
    <a href="#" class="nav-links">NON-PROFIT</a>
    <a href="#" class="nav-links">DESIGN</a>
    <a href="#" class="nav-links">JOBS</a>
  </div>

  <hr>

  <div>
    <div class="artist-items" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 50">
      {{#each item}}
      {{> item/item-block}}
      {{/each}}
    </div>

    <div id="notes"></div>
  </div>
</div>

<footer scrollspy="cls:uk-animation-slide-bottom-small">
  <br>
  <p id="footer-text" class="uk-text-center"><span><a id="github" href="https://github.com/sajeelmalik/Finesse"><i
          class="fab fa-github"></i> Github </a>|</span> Developed in San Francisco, CA © 2018 Finesse. Sajeel Malik.</p>
</footer>