{{!-- <div id="loading">
  <h1 class="uk-position-center" id="load-title">Mt. Sutro</h1>
</div> --}}
<div class="uk-container">
  <h1 id="title">Mt. Sutro Music Company</h1>

  <div id="nav">
    <a href="/" class="nav-links hvr-sweep-to-top">AFFILIATES</a>
    <a href="/booking" class="nav-links hvr-sweep-to-top" uk-tooltip="title: Stay tuned for updates!; pos: bottom">BOOKING</a>
    <a href="/nonprofit" class="nav-links hvr-sweep-to-top">NON-PROFIT</a>
    <a href="/design" class="nav-links hvr-sweep-to-top">DESIGN</a>
    <a href="/jobs" class="nav-links hvr-sweep-to-top">JOBS</a>
  </div>

</div>

{{!--
<hr> --}}

<div class="main">
  <div>
    <div class="artist-items" uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 50">
      {{#each item}}
      {{> item/item-block}}
      {{/each}}
    </div>
  </div>
</div>

<a href="#" class="uk-align-center" id="to-top" uk-scroll><i class="fas fa-mountain hvr-float"></i>
  <p id="peak">To peak</p>
</a>

<footer scrollspy="cls:uk-animation-slide-bottom-small">
  <div class="uk-container" id="footer-elements">
    {{!-- <h2>Mt. Sutro</h2> --}}
    <p id="footer-text" class="uk-text-center">Developed in San Francisco, CA. © 2018 Mt. Sutro Music Company. All rights reserved.</p>
  </div>
</footer>