{{!-- <div id="loading">
  <h1 class="uk-position-center" id="load-title">Mt. Sutro</h1>
</div> --}}
<div class="uk-container">
  <h1 id="title">Mt. Sutro Music Company</h1>

  <div id="nav">
    <a href="/" class="nav-links hvr-sweep-to-top">AFFILIATES</a>
    <a href="/booking" class="nav-links hvr-sweep-to-top" uk-tooltip="title: Stay tuned for updates!; pos: bottom">BOOKING</a>
    <a href="/nonprofit" class="nav-links hvr-sweep-to-top">NON-PROFIT</a>
    <a href="/design" class="nav-links hvr-sweep-to-top">DESIGN</a>
    <a href="/jobs" class="nav-links hvr-sweep-to-top">JOBS</a>
  </div>

</div>

{{!--
<hr> --}}

<div class="main">
  <div class="section-header">
    <h2 class="section-title">Philanthropy</h2>
  </div>


</div>

<a href="#" class="uk-align-center" id="to-top" uk-scroll><i class="fas fa-mountain hvr-float"></i>
  <p id="peak">To peak</p>
</a>

<footer scrollspy="cls:uk-animation-slide-bottom-small">
  <div class="uk-container" id="footer-elements">
    <ul class="socials">
      <li><a href = "#"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href = "#"><i class="fab fa-instagram"></i></a></li>
      <li><a href = "#"><i class="fab fa-linkedin-in"></i></a></li>
      <li><a href = "#"><i class="fab fa-twitter"></i></a></li>
    </ul>
    <p class="footer-text" style="font-size: 0.7em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis, eros sed pharetra finibus, erat lacus tristique enim, dapibus elementum urna risus sed est. Integer posuere lectus et sodales consequat. Aenean euismod, neque ut porttitor volutpat, diam justo vulputate mi, vel efficitur leo dolor sed enim. Duis sit amet ultrices elit. Nulla egestas blandit est vitae feugiat.</p>
    <p class="footer-text uk-text-center">Developed in San Francisco, CA. © 2018 Mt. Sutro Music Company. All
      rights reserved.</p>
    <h2 class="uk-text-center" id="bottom-title">Mt. Sutro</h2>
  </div>