<div class="artist-affiliate">
	<a href={{link}} target="_blank"><img src={{image}} class="artist-image"></a>
	<a href={{link}}  class="artist-name-overlay">
		<p class="artist-name">{{name}}</p>
	</a>
</div>	