/* Tempo Red #741D2B */

#title{
    text-align: center;
    color: rgb(153, 33, 53);
}

#nav{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 50%;
}

.nav-links{
    color: rgb(153, 33, 53);
}

.artist-items{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.artist-affiliate{
    height: 200px;
    width: 200px;
}

.artist-image{
    height: 100%;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.artist-name-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: white;
    color: transparent;
    transition: 0.2s ease-in-out;
}

.artist-image:hover{
    opacity: 0.4;
}